fastapi
uvicorn
python-dotenv
requests
httpx
groq
langchain
langchain-community
langchain-groq
deep-translator
langdetect
pydantic
twilio
rank-bm25
numpy
scikit-learn
pypdf
python-docx
python-multipart